body {
  /*background-image: url("../img/logomark_gray_1e.png");*/
  -webkit-animation-name: backgroundimg;
  -webkit-animation-duration: 5s;
  animation-name: backgroundimg;
  animation-duration: 5s;
  /*animation-delay: 2s;*/
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /*background-size: cover;*/
}
@-webkit-keyframes backgroundimg {
  0% {background-image: url("../img/logomark_gray_1e.png");}
  50% {background-image: url("../img/logomark_gray_2e.png");}
  100% {background-image: url("../img/logomark_gray_1e.png");}
}
@keyframes backgroundimg {
  0% {background-image: url("../img/logomark_gray_1e.png");}
  50% {background-image: url("../img/logomark_gray_2e.png");}
  100% {background-image: url("../img/logomark_gray_1e.png");}
}
